.gear_icon
{
position: fixed; 
top: 70px;
right: 250px; 
background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
border-radius: 5px 0px 0px 5px; 
padding: 10px 15px; 
font-size: 16px; 
z-index: 99999; 
cursor: pointer; 
color: rgb(60, 141, 188);
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
}

.settings_container
{
	padding: 10px;
	position: fixed;
	top: 70px;
	right: 0px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border: 0px solid rgb(221, 221, 221);
	width: 250px;
	z-index: 99999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;"
}
.settings_header
{
	margin: 0 0 5px 0;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

.file_name_tag
{	font-style: italic;
	font-weight: bold;
}

img.avatar
{
display: block;
margin-left: auto;
margin-right: auto;
width: 86px;
}

div.avatar-img-container
{
	width:100%;
	text-align: center;
}
div.accent-name-container
{
	width:100%;
	text-align: center;
}



div.profile-cost-container
{
	width:100%;
	text-align: center;
}

.voiceprofile-audio
{
	width:100%;
	height:10px;
}
h1.nomargin
{
	margin-top: 0px;
}

.audio_speed_display, .audio_pitch_display
{
	text-align: center;
}
