  <div class="example-modal">
    <div class="modal" id='audio-modal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" data-dismiss="audio-modal">
              <span aria-hidden="true" >×</span>
            </button>
            <h4 class="modal-title">Listen to Track</h4>
          </div>
          <div class="modal-body">
            
          </div>
          
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>