   {% extends 'base_template.html' %}
    {% load static %}

    

    {% block notifications%}
              
    {% endblock %}


    {% block sidebar %}
          
    {% include 'sidebar.html' %}

    {% endblock %}

    {% block userheader %}
          
    {% include 'userheader.html' %}

    {% endblock %}

    {% block tracks_table %}
          
    {% include 'tracks_table.html' %}

    {% endblock %}

     {% block todolist %}
          
    <!-- include 'todolist.html' -->

    {% endblock %}

    {% block emailwidget %}
          
    <!-- include 'emailwidget.html' -->

    {% endblock %}

    {% block map %}
          
    <!-- include 'map.html' -->

    {% endblock %}

    {% block salesgraph %}
          
    <!-- include 'map.html' -->

    {% endblock %}

    {% block calender %}
          
    <!-- include 'calender.html' -->

    {% endblock %}

     {% block saleschart %}
          
    <!-- include 'saleschart.html' -->

    {% endblock %}