{% load DurationFormatter%}
{% load SecondsFormatter%}



<div class="row">
<div class="col-xs-12">

    <div class="box-primary box">
    <div class="box-header">
      <h3 class='box-title'>Track Audio Sections</h3>
     
    </div><!-- /.box-header -->
    <div class="box-body">                   

    <table id="example2"  class="table table-bordered table-hover">
        <thead>
         

          <tr>
            <th>Time Marker</th>                            
            <th>Text</th>                           
            <th>Duration</th>
            <th>Voice Profile</th>
            <th></th>   
            
          </tr>
        </thead>


        <tbody id='track_text_tbody'>
          {%include 'editable_track_row.html'%}
           
          
          
        </tbody>
          
          
        
      </table>                     
    </div><!-- /.box-body -->

    <div class="box-body"> 
      <div class="row">
        <div class="col-xs-6">
          &nbsp;
        </div>  
       
        

        <div class="col-xs-2">
        <!--   <button type="button" class="btn btn-info">
            <i class="fa fa-plus"></i>&nbsp;Add 5 New Rows
          </button>-->
        </div>

        <div class="col-xs-2">
           <!--<button type="button" class="btn btn-info">
            <i class="fa fa-plus"></i>&nbsp;Add 10 New Rows
          </button>-->
        </div>

        <div class="col-xs-2">
           <button type="button" id='addnewrow' data_track_id='{{track.id}}' class="btn btn-primary">
            <i class="fa fa-plus"></i>&nbsp;Add Row
          </button>
        </div>

      </div>          
        
    </div>  

  </div><!-- /.box -->
</div> <!-- class="col-xs-12" -->
</div> <!--row-->

<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-4">

            <button type="button" id='showmodal' data_track_id='{{track.id}}' class="btn btn-success btn-block btn-lg">
             I Am Ready!
            </button>

  </div>
   <div class="col-xs-4">
  </div>
</div>  

          