{% load DurationFormatter%}
{% load SecondsFormatter%}

{% for tracktext in tracktextlist %}
            <tr id='row_{{tracktext.id}}'>
             
             
            <td>
             
              <select data_select_type='h' data_id='{{tracktext.id}}' class="form-control" name='outputformat' id='h_{{tracktext.id}}' >
                {% autoescape off %}
                  {{tracktext.time_marker|optionGenerator:'h'}} 
                {% endautoescape %}    
              </select>
            </td>
            <td>
            <select data_select_type='m' data_id='{{tracktext.id}}' class="form-control" name='outputformat' id='m_{{tracktext.id}}' >
                {% autoescape off %}
                  {{tracktext.time_marker|optionGenerator:'m'}} 
                {% endautoescape %}    
              </select>

          </td>
          <td>
            <select data_select_type='s' data_id='{{tracktext.id}}' class="form-control" name='outputformat' id='s_{{tracktext.id}}' >
                {% autoescape off %}
                  {{tracktext.time_marker|optionGenerator:'s'}} 
                {% endautoescape %}                       
               
              </select>
           
          </td>
            <td> 
              <textarea class="form-control" rows="2" data_type='text' data_id={{tracktext.id}}>{{tracktext.text}}</textarea>
              
            </td>  
                                  
            <td>{{tracktext.duration|SecondsToDateFormatter}}</td>
            <td>{{tracktext.voice_profile}}</td>     
            
            <td>



                  <div class="btn-group">
                    <button type="button" class="btn btn-info"><i class="fa fa-volume-up"></i></button>

                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">                      
                      <li>
                        <a href="/cloneTrack/{{tracktext.id}}">

                          <i class="fa fa-clone"></i>Clone

                      </a>
                    </li>
                      <li class="divider"></li>
                      <li ><a href='javascript:;' onclick='deleteTrackText("{{tracktext.id}}");'
                       data_track_text_id='{{tracktext.id}}' class='text-red'>
                        <i class="fa fa-trash"></i>

                      Delete</a></li>
                    </ul>
                  </div>
            </td>
          </tr>
           {%endfor%} 