<div class='row'>
	<div class="col-xs-12">
				<h3 id='heading_h1'>
	            	<span id='page_title_span'>{{page_title}} </span>	                             
	          	</h3>
	
	</div>
</div>         

			         


<div class='row'>
	<div class="col-xs-4">
			<div class="input-group input-group" id='input_group' style='display:none'>
				<input type="text" data_id={{track.id}} class="form-control" id="track_title_text_input" placeholder="Enter Track Title" value="{{track.title}}"/>
				 <span class="input-group-btn">
					<button class="btn btn-primary" id='save_title_button' type="button">Save</button>
				</span>
			</div>                

	</div>
</div>