{% extends 'base_template.html' %}
{% load static %}
{% block sidebar %}
          
    {% include 'sidebar.html' %}

{% endblock %}

{% block userheader %}
          
    {% include 'userheader.html' %}

{% endblock %}

{% block notifications %}
          
    {% include 'notifications.html' %}

{% endblock %}



 {%block edit_track%}
 	{% include 'edit_track_template.html' %}

 {%endblock%}

  {%block page_heading%}
        	{%include 'editable_title_header.html'%}
  {%endblock%}


{%block appjs%}
	<script src="{% static 'appjs/createAndUpdateTrackText.js' %}" type="text/javascript"></script>
{%endblock%}

{%block modal%}

	{%include 'modal_generate_track.html'%}

{%endblock%}
