{% load DurationFormatter%}
{% load SecondsFormatter%}

{% for tracktext in tracktextlist %}
            <tr id='row_{{tracktext.id}}'>           

            <td style='vertical-align: middle; padding:4px'>
               
                   <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                        <input data_id='{{tracktext.id}}' data-input-type='time_marker' type="text" class="form-control" value='{{tracktext.time_marker|SecondsToDateFormatter}}'/>                 
                    </div>

            </td>
            <td style='vertical-align: middle padding:4px'> 

              <textarea class="form-control" rows="1" data_type='text' data_id={{tracktext.id}}>{{tracktext.text}}</textarea>

              <!--<button class="btn btn-block btn-primary" data-button-type='emphasize' data_id='{{tracktext.id}}'>press me</button>-->
              
            </td>  
                                  
            <td id='duration_container_{{tracktext.id}}' tyle='vertical-align: middle;padding:4px'> 
              {%if tracktext.processed%} {{tracktext.duration|floatformat:-2}} {%endif%}
            

          </td>

          <td id='end_time_container_{{tracktext.id}}' tyle='vertical-align: middle;padding:4px'> 
              {%if tracktext.processed%} 
              {{tracktext.time_marker|add:1|add:tracktext.duration|SecondsToDateFormatter}}
               {%endif%}
            

          </td>
          {% if track.podcast_mode%}
            <td style='vertical-align: middle'>

              <select data_select_type='voice_profile' data_id='{{tracktext.id}}' class="form-control" name='outputformat' id='profile_{{tracktext.id}}' >

                {% for voiceprofile in voiceprofiles %}
                    {% if voiceprofile.id == tracktext.voice_profile.id %}

                        <option value='{{voiceprofile.id}}' selected='selected'>{{voiceprofile.name}}</option>
                      {%else%}
                      <option value='{{voiceprofile.id}}'>{{voiceprofile.name}}</option>

                    {%endif%}
                {%endfor%}
              </select>
            

            </td> 
            {% endif%}
            <td style='vertical-align: middle'>
                  <div class="btn-group">
                  <button 
                  type="button" 
                  data-id="{{tracktext.id}}" 
                  id='play_button_{{tracktext.id}}' 
                  onclick='play("{{tracktext.id}}");'
                  class="btn btn-primary">

                    <i class="fa fa-volume-up"></i>

                  </button>

                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">                      
                      <!--<li>
                        <a href='javascript:;' onclick='generateAudio("{{tracktext.id}}");'>

                          <i class="fa fa-music"></i>Create Audio

                        </a>
                       </li>
                      <li class="divider"></li>-->
                      <li ><a href='javascript:;' onclick='deleteTrackText("{{tracktext.id}}");'
                       data_track_text_id='{{tracktext.id}}' class='text-red'>
                        <i class="fa fa-trash"></i>

                      Delete</a></li>
                    </ul>
                  </div>
            </td>
          </tr>
           {%endfor%} 