{% extends 'base_template.html' %}
{% load static %}
{% block tracks_table %}
          
    {% include 'tracks_table.html' %}

{% endblock %}

{% block sidebar %}
          
    {% include 'sidebar.html' %}

{% endblock %}

{% block userheader %}
          
    {% include 'userheader.html' %}

{% endblock %}

{% block notifications %}
          
    {% include 'notifications.html' %}

{% endblock %}


{%block modal%}

	{%include 'translate_track_modal.html'%}

{%endblock%}



{%block page_heading%}
    {% include 'page_heading.html' %}
{%endblock%}


{%block appjs%}
<script src="{% static 'appjs/translatetrack.js' %}" type="text/javascript"></script>
<script src="{% static 'appjs/common.js' %}" type="text/javascript"></script>
{% endblock %}

