              {% load SecondsFormatter %} 
               <div class="row">
                <div class="col-xs-12">

                    <div class="box-primary box">
                    <div class="box-header">
                      <h3 class="box-title">My Tracks</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>Track Duration</th>                            
                            <th>Created On</th>
                            <th>Last Updated</th>
                            <th>Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for track in tracks %}
                            <tr>
                            <td>{{track.title}}</td>
                            <td>{{track.duration|SecondsFormatter}}</td>                            
                            <td>{{track.created_at|date:"M d, Y"}}</td>
                            <td>{{track.updated_at|date:"M d, Y"}}</td>
                            <td>



                                  <div class="btn-group">
                                    <button type="button" class="btn btn-info">Action</button>

                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Edit</a></li>
                                      <li><a href="#">Clone</a></li>
                                      <li class="divider"></li>
                                      <li ><a href="#" class='text-red'>Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                          </tr>
                           {%endfor%} 
                          
                          
                        </tbody>
                        
                      </table>
                    </div><!-- /.box-body -->
                  </div><!-- /.box -->
                </div> <!-- class="col-xs-12" -->
              </div> <!--row-->