              {% load SecondsFormatter %} 
               <div class="row">
                <div class="col-xs-12">

                    <div class="box-primary box">
                    <div class="box-header">
                      <h3 class="box-title">My Tracks</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>Track Duration</th>
                            
                            <th>Created On</th>
                            <th>Last Updated</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for track in tracks %}
                            <tr>
                            <td><a href="/editTrack/{{track.id}}">{{track.title}}</a></td>
                            <td>{{track.duration|SecondsToTextFormatter}}</td>  
                                                    
                            <td>{{track.created_at|date:"M d, Y"}}</td>
                            <td>{{track.updated_at|date:"M d, Y"}}</td>
                            <td>



                                  <div class="btn-group">
                                    <button type="button" class="btn btn-info"><i class="fa fa-volume-up" title=></i></button>

                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                      <span class="caret"></span>
                                      <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <!--<li><a href="/downloadTrack/{{track.id}}">
                                          <i class="fa fa-download"></i>

                                      Download</a></li>-->

                                      <li><a href="/editTrack/{{track.id}}">
                                          <i class="fa fa-pencil"></i>

                                      Edit</a></li>                                     
                                        
                                      
                                      {% if not track.cloned %}
                                        <li>
                                          <a href="javascript:openTranslateModal('{{track.id}}')">
                                            <i class="fa fa-language"></i>Translate
                                          </a>
                                        </li>
                                      {%endif%}
                                      <li class="divider"></li>
                                      <li ><a href="/deleteTrack/{{track.id}}" class='text-red'>
                                        <i class="fa fa-trash"></i>

                                      Delete</a></li>
                                    </ul>
                                  </div>
                            </td>
                          </tr>
                           {%endfor%} 
                          
                          
                        </tbody>
                        
                      </table>
                    </div><!-- /.box-body -->
                  </div><!-- /.box -->
                </div> <!-- class="col-xs-12" -->
              </div> <!--row-->